@* <div class="container align-items-center text-center">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xl-12 col-md-12">
            <form method="post" enctype="multipart/form-data">
                <label class="processname" for="Pname">Enter the Process Name</label>
                <input type="text" id="Pname" name="Pname" class="textbox"><br><br>
                <h2 class="Ourfile">Our File</h2>
                <div class="row">
                    <div class="col-12">
                        @*  <label>Select File</label> *@
                        

 