@* @model ExcelFileRead.Models.UploadViewModel

<form id="form2" asp-action="UploadFile2" enctype="multipart/form-data" method="post" class="formback">
    <div class="container align-items-center text-center">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group mt-3">
                    <label for="file2">Upload Their File:</label>
                    <input type="file" name="file" id="file2" class="btn fileOurs" />
                </div>
            </div>
            <button type="submit" class="btn Uploadfile">Upload</button>
        </div>
</form>
<div id="result2"></div>
 *@